{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrder": ["^[./]", "^@/(.*)$", "^@chakra-ui/(.*)$", "^@src/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
